<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849088455248-m7fgl1uliddvji1kbm4m4610jsh6rf2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849088455248-m7fgl1uliddvji1kbm4m4610jsh6rf2m</string>
	<key>API_KEY</key>
	<string>AIzaSyDuVf0VLXpGcTCBQX1EBDd2Raf7LC6IREo</string>
	<key>GCM_SENDER_ID</key>
	<string>849088455248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.introchat.introchat-dev</string>
	<key>PROJECT_ID</key>
	<string>introchat-dev-1</string>
	<key>STORAGE_BUCKET</key>
	<string>introchat-dev-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849088455248:ios:4be6dcd4117b0dfa65a755</string>
	<key>DATABASE_URL</key>
	<string>https://introchat-dev-1.firebaseio.com</string>
</dict>
</plist>